---
import App from "../components/Chart.jsx";
import Layout from '$layouts/Layout.astro'

import dataHome from '../data-chart/crux-home-all.json';

function prepareData(data) {
let allOptions = [];
    Object.keys(data).forEach((metric, i) => {
       let state = { 
         series : data[metric].series,
         options : {
           xaxis : {
             categories :data[metric].categories
           },
           title: {
             text :metric
           },
          markers: {
            size: 1
          },
          dataLabels: {
            enabled: true,
          }
         }
       };
      allOptions.push(state)
    })
    return allOptions
}

const homeData = prepareData(dataHome)


const title = 'Chart';

---
<Layout title = {title}>
    <main>
        <header>
            <div>
                <h1>{title}</h1>
            </div>
        </header>
        <section>
        <h2>Home</h2>
        {
          homeData.map(state => (
         <div>
            <App {...{state: state}} client:only="react"/>
            <hr />
            </div>
          ))
        }

        </section>
    </main>
</Layout>
<style>
h2{
  margin: 0 0 30px 0;
}
hr{
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 50px 0;
}
</style>
