---
import Charts from "../components/AllCharts.svelte";
import Layout from "$layouts/Layout.astro";

import origin from "../../public/data-chart/crux-origin-all.json";
import home from "../../public/data-chart/crux-home-all.json";

function prepareData(data) {
  let allOptions = [];
  Object.keys(data).forEach((metric, i) => {
    let state = {
      series: data[metric].series,

      xaxis: {
        categories: data[metric].categories,
      },
      title: {
        text: metric,
        align: "left",
      },
      markers: {
        size: 6,
      },
      // dataLabels: {
      //   enabled: true,
      // },
      stroke: {
        curve: "smooth",
      },
      chart: {
        type: "line",
        height: 900,
        animations: {
          enabled: false,
        },

        dropShadow: {
          enabled: true,
          color: "#000",
          top: 18,
          left: 7,
          blur: 10,
          opacity: 0.2,
        },
        toolbar: {
          show: false,
        },
      },
    };
    allOptions.push(state);
  });
  return allOptions;
}

const title = "CrUX Dashboard";

const mapOptions = (option) => {
  option.xaxis.categories = option.xaxis.categories.slice(-90);
  option.series = option.series.map((item) => {
    item.data = item.data.slice(-90);
    return item;
  });
  return option;
};

const chartDataOrigin = prepareData(origin).map(mapOptions);

const chartDataHome = prepareData(home).map(mapOptions);
---

<Layout title={title}>
  <main>
    <header>
      <div>
        <h1>{title}</h1>
      </div>
    </header>
    <section>
      <Charts data={chartDataOrigin} client:only title="Origin" />
      <Charts data={chartDataHome} client:only title="Home" />
    </section>
  </main>
</Layout>
