---

import Layout from '$layouts/Layout.astro'
const title = 'Chart';

---
<Layout title = {title}>
    <main>
        <header>
            <div>
                <h1>{title}</h1>
            </div>
        </header>
        <section>

  
         <div>
    <div id="wrapper1"></div>
    <div id="wrapper2"></div>
    
            </div>
       
        </section>
    </main>
</Layout>


    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/create-chart2.js"></script>
    <script>
    const wrapper1 = document.getElementById('wrapper1');
    const wrapper2 = document.getElementById('wrapper2');
    displayCharts('/data-chart/crux-origin-all.json', 'Origin', wrapper1);
    displayCharts('/data-chart/crux-home-all.json', 'Home Page',  wrapper2);
    </script>

  

<style>

:global(h2){
  margin: 50x 0 15px 0;
  font-size: 30px;
  }

:global(h3){
  margin: 15px 0
  }  
:global(canvas){
  margin-bottom: 50px;
}
</style>
