---
import Layout from '$layouts/Layout.astro'
import data from '../_data/crux-origin.json'

// Component Imports
import UrlsByMetric from '$components/UrlsByMetric.svelte';
import Header from '$components/Header.svelte';

let title = 'CrUX Dashboard - p75';

---
<Layout title = {title}>
    <main>
        <header>
            <div>
                <h1>{title}</h1>
                <Header data={data}/>
            </div>
        </header>
        <section>
                <UrlsByMetric data={data}/>
        </section>
    </main>
</Layout>
