---
import Layout from '../layouts/Layout.astro'

// Component Imports
import Header from '../components/Header.astro';
import Table from '../components/Table.astro';

let title = 'CrUX Dashboard - p75';

import data from '../_data/crux.json';

function getMetric() {
    return data.metrics.map(item => {
    let obj = [];
    obj.push({url: item.url.replace("https://",""), minimal:0});
    [" FCP", " LCP", " FID", " CLS"].forEach(metric => {
         obj.push({p75:item[metric].p75, rank: item[metric].rank});
    })
    return obj
    })

}
const table = [["url", "FCP", "LCP", "FID", "CLS"]].concat(getMetric());
---
<Layout title = {title}>
    <main>
        <header>
            <div>
                <h1>{title}</h1>
                <Header params={data.params}/>
            </div>
        </header>
        <section>
            <article>
                <Table table={table}/>
            </article>
        </section>
    </main>
</Layout>