---

---
<ul>
    <li><a href="/">distribution</a></li>
    <li><a href="/p75">p75</a></li>
</ul>

<style>
ul,li{
    list-style: none;
}

li{
    display: inline-block;
    margin:0 10px
}

ul {
    background: #000;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
a{
    color: #fff;
}
</style>
