---
export interface Props {
  post: any;
}

import UrlWithIcon from '../components/UrlWithIcon.astro';
import MetricCell from '../components/MetricCell.astro';

const { table } = Astro.props;

const tableHeading = table[0];

const rank = ["good", "average", "poor"]

const rankMap = {
    "good" : " 🟢 ",
    "average" :" 🟠 ",
    "poor" : " 🔴 "
}
---
<table>



        <tr>
            {tableHeading.map((cell) => (        
                <td>{cell}</td>
        )
        )}
        </tr>

{table.slice(1,table.length).map((row) => (
        <tr>
            {row.map((cell) => (        
                cell.p75 ? <MetricCell metric={cell}/> : <td><UrlWithIcon url={cell.url}/> {cell.minimal}</td>
        )
        )}
        </tr>
    ))}
</table>
<style>

    table {
        width: 100%;
    }
    tr:first-child td{
        background: #333;
        color: #fff;
        font-weight: bold;
    }
    table, tr, td {
        border: 1px solid #aaa;
        border-collapse: collapse;
        padding: 10px
    }





</style>
