---
export interface Props {
  post: any;
}

import UrlWithIcon from '../components/UrlWithIcon.astro';
import MetricCell from '../components/MetricCell.astro';

const { table } = Astro.props;
const tableHeading = table[0];
---
<table>
        <tr>
            {tableHeading.map((cell) => (        
                <td>{cell}</td>
        )
        )}
        </tr>

{table.slice(1,table.length).map((row) => (
        <tr>
            {row.map((cell) => (        
                cell.p75 ? <MetricCell metric={cell}/> : <td><UrlWithIcon url={cell.url}/> <div class="all-good"><div style={"width:" + cell.minimal + "%"}>{cell.minimal}% </div></div></td>
        )
        )}
        </tr>
    ))}
</table>
<style>

    table {
        width: 100%;
    }
    tr:first-child td{
        background: #333;
        color: #fff;
        font-weight: bold;
    }
    table, tr, td {
        border: 1px solid #ddd;
        border-collapse: collapse;
        padding: 10px
    }
    .all-good{
        background-color: #ddd;
        font-size: 60%;
    }
    .all-good div{
        background-color: #34A853;
        padding: 1px 3px;
        color: #000;
    }
</style>
