---
// src/layouts/BaseLayout.astro
const {title} = Astro.props;

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style/global.css">
</head>
  <body>
     <nav>
     <ul>
        <li><a href="/distribution/ecommerce-pl-origin">distribution origin</a></li>
        <li><a href="/distribution/ecommerce-pl-url">distribution home</a></li>
        <li><a href="/p75/ecommerce-pl-origin">p75 origin</a></li>
        <li><a href="/p75/ecommerce-pl-url">p75 home</a></li>
    </ul>
    </nav>

    <slot />
  </body>
</html>


<style>
nav ul,li{
    list-style: none;
    margin-bottom: 2em;
}

nav li{
    display: inline-block;
    margin:0 10px
}

nav ul {
    background: #000;
    padding: 5px;
    right: 0;
    top: 0;
}
nav a{
    color: #fff;
}
</style>